comment {
  background-color:#f4f4f4;
  color:#666666;
  font-style:italic;
}

constant.numeric {
  color:#6c99bb;
  font-weight:normal;
}

constant.numeric.keyword {
  color:#6c99bb;
}

keyword {
  color:#cc762e;
  font-strike-through:none;
  font-weight:normal;
}

keyword.control {
  color:#cc762e;
}

keyword.type {
  color:#ffc66d;
}

language.function {
  color:#a1617a;
}

language.operator {
  color:#b7b300;
}

language.variable {
  color:#d0d0ff;
}

markup.comment {
  background-color:#f4f4f4;
  color:#666666;
  font-style:italic;
}

markup.constant.entity {
  color:#6e9cbe;
}

markup.declaration {
  color:#666666;
}

markup.inline.cdata {
  color:#a5c261;
}

markup.processing {
  color:#6c99bb;
  font-style:italic;
  font-weight:normal;
}

markup.tag {
  color:#ffc189;
}

markup.tag.attribute.name {
  color:#87b8cc;
}

markup.tag.attribute.value {
  color:#a5c261;
}

meta.default {
  background-color:#f4f4f4;
  color:#848484;
}

meta.highlight.currentline {
  background-color:#fff4cb;
}

meta.important {
  background-color:#a5918b;
  color:#ffe892;
  font-style:normal;
  font-underline:none;
  font-weight:normal;
}

meta.invalid {
  background-color:#f4f4f4;
  color:#7c6566;
  font-weight:normal;
}

meta.invisible.characters {
  color:#434343;
}

meta.link {
  color:#6d8a92;
  font-underline:underline;
}

string {
  color:#a5c261;
}

string.regex {
  color:#8857d2;
  font-style:italic;
}

style.at-rule {
  background-color:#f4f4f4;
  color:#ff323e;
  font-style:normal;
  font-weight:bold;
}

style.comment {
  background-color:#ececec;
  color:#c1c6be;
  font-style:italic;
  font-underline:none;
  font-weight:normal;
}

style.property.name {
  background-color:#f4f4f4;
  color:#8cc2a6;
}

style.value.color.rgb-value {
  color:#e09c60;
  font-underline:none;
}

style.value.keyword {
  color:#6c99bb;
}

style.value.numeric {
  color:#bb8198;
}

style.value.string {
  color:#a5c261;
}

support {
  color:#d54a20;
}

